.logo{
  width: 200px;
}

.app{
  height: 100vh;
}
.sidebar{
  max-height: 100vh;
  overflow: auto;
  height: 100vh;
  border-right: 2px solid #ccc;
  padding: 10px;
}
.sidebar ul{
  list-style-type: none;
}
.sidebar ul li{
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}
.sidebar ul li:hover{
  background-color: #0c0c0c;
  width: 100%;
}
.sidebar ul li a{
  font-size: 1.2rem;
  color: #0c0c0c;
  text-decoration: none;
}
.sidebar ul li:hover a{
  color: #fff;
}
.app-main{
  max-height: 100vh;
  overflow: auto;
  height: 100vh;
}
.form-control{
  border: 1px solid #0c0c0c !important;
  border-radius: 0px !important;
}
.form-control:focus{
  box-shadow: none !important;
}